body {
  padding-bottom: 25px;
  background-color: #94f274;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 19px;
  margin-bottom: 1px;
  margin-left: 0px;
  font-family: Exo, sans-serif;
  color: #2b2b2b;
  font-size: 26px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: Exo, sans-serif;
  color: #f26161;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 12px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar {
  border-bottom: 3px solid #c9bfbf;
  background-color: white;
  color: #d6c3c3;
}
.nav-link-login {
  border-radius: 0px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Exo, sans-serif;
  color: #55c25d;
  font-size: 17px;
  font-weight: 700;
}
.nav-link-login:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #ed5f5f;
}
.nav-link-signup {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Exo, sans-serif;
  color: #55c25d;
  font-size: 17px;
  font-weight: 700;
}
.nav-link-signup:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #ed5f5f;
}
.nav-link-cart {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Exo, sans-serif;
  color: #55c25d;
  font-size: 17px;
  font-weight: 700;
}
.nav-link-cart:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #ed5f5f;
}
.search-container {
  margin-top: 23px;
  padding-top: 0px;
  border-radius: 10px;
  color: #3b3b3b;
}
.search-bar-form {
  margin-top: 44px;
  text-align: left;
}
.search-bar-button {
  margin-top: -3px;
  margin-left: 31px;
  float: left;
  border: 2px solid #878787;
  border-radius: 12px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Exo, sans-serif;
  color: #68c267;
  font-weight: 700;
}
.search-bar-button:hover {
  border-color: #ed8084;
  color: #fc5858;
}
.search-bar-button:focus {
  border-color: #ed8084;
}
.search-bar-field {
  width: 581px;
  margin-left: 104px;
  float: left;
  border: 2px solid #8a8383;
  border-radius: 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Bitter, serif;
  font-size: 16px;
  font-weight: 400;
}
.search-bar-field:active {
  border-color: #ed8084;
}
.search-bar-field:focus {
  border-color: #ed8084;
}
.gamego-image {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.gamego-image:hover {
  opacity: 0.72;
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}
.whats-hot-container {
  margin-top: 31px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 23px;
  border: 2px solid #8f8888;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.49);
  font-weight: 400;
}
.what-s-hot-text {
  padding-left: 0px;
  font-family: Exo, sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.what-s-hot-text-block {
  width: 200px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.list-item-1 {
  width: 500px;
  margin-bottom: 10px;
}
.list-item-2 {
  width: 500px;
  margin-bottom: 10px;
}
.list-item-3 {
  width: 500px;
}
.hot-text {
  color: #db3939;
}
.bi-weekly-favorite-container {
  margin-top: 36px;
  padding-top: 10px;
  border: 2px solid #756b6b;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.49);
}
.bi-weekly-favorites-text {
  margin-top: 12px;
  margin-bottom: 14px;
  padding-left: 29px;
  font-family: Exo, sans-serif;
  font-size: 22px;
}
.login-form {
  margin-top: 66px;
  padding-top: 19px;
  padding-left: 21px;
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.54);
  font-family: Exo, sans-serif;
  font-size: 22px;
}
.username-field {
  margin-bottom: 15px;
}
.password-field {
  margin-top: 21px;
  margin-bottom: 15px;
}
.login-button {
  margin-top: 30px;
  border: 1px solid #858585;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.61);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #50cc27;
}
.login-button:hover {
  color: #e63232;
}
.login-form-container {
  padding-right: 106px;
}
.username-text-field {
  margin-bottom: 17px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.username-text-field:focus {
  border: 1px solid #ed8787;
}
.password-text-field {
  border-style: solid;
  border-width: 1px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.password-text-field:focus {
  border-color: #eb8686;
}
.category-bestsellers-container {
  margin-top: 396px;
}
.categories-container-1 {
  margin-top: 40px;
  padding-right: 25px;
  padding-bottom: 36px;
  padding-left: 34px;
  border: 2px solid #403939;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  color: #858585;
}
.category-heading {
  color: #ff4d4d;
  font-size: 22px;
}
.search-page-container {
  margin-top: 60px;
  padding: 10px 41px 19px 9px;
  border: 2px solid #5c5c5c;
  background-color: rgba(255, 255, 255, 0.63);
}
.genre-checkbox-field {
  margin-top: 30px;
  margin-left: 31px;
}
.genre-selector {
  width: 500px;
  margin-top: 26px;
  margin-left: 29px;
  border: 2px solid #737272;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: #f26868 0px 0px 6px 0px;
  font-family: Exo, sans-serif;
}
.genre-selector-box {
  margin-top: 33px;
  border: 2px solid #5e5e5e;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.56);
}
.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  margin-top: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 2px solid #ab9b9b;
  background-color: white;
}
.footer-text {
  margin-top: 21px;
  margin-left: 28px;
  float: left;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer-logo {
  width: 166px;
  float: left;
  opacity: 0.81;
}
.cart-container {
  margin-top: 60px;
  border: 2px solid #adadad;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: Exo, sans-serif;
}
.list-of-cart-items {
  margin-top: 30px;
}
.your-cart-text {
  margin-top: 20px;
  margin-left: 26px;
  font-size: 26px;
  font-weight: 700;
}
.cart-item-image-example {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  margin-left: 80px;
  float: left;
}
.cart-item-name-example {
  display: block;
  margin-top: 50px;
  margin-left: 70px;
  float: left;
}
.cart-item-quantity-example {
  width: 200px;
  margin-top: 36px;
  margin-left: 46px;
  padding-left: 31px;
  float: left;
}
.cart-item-price-example {
  width: 42px;
  margin-top: 50px;
  margin-right: 56px;
  margin-left: 52px;
  float: left;
}
.cart-item-quantity-dropdown-example {
  width: 116px;
  margin-top: 21px;
  margin-left: 76px;
  border: 2px solid #e89292;
  border-radius: 10px;
}
.quantity-wrapper {
  width: 921px;
}
.cart-item-quantity {
  width: 250px;
  margin-top: 40px;
  margin-left: 337px;
}
.link-block-to-categories {
  margin-top: 15px;
}
.stats-container {
  margin-top: 50px;
  padding-bottom: 23px;
  padding-left: 18px;
  border: 2px solid #b5a1a1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
}
.stat-category {
  width: 448px;
}
.stat-month-year-selector {
  margin-top: 39px;
}
.stat-month {
  width: 250px;
  margin-right: 15px;
  float: left;
}
.select-month-text {
  padding-bottom: 5px;
  font-size: 17px;
}
.stat-year {
  width: 250px;
  margin-right: 15px;
  float: left;
}
.cart-checkout-button {
  margin-top: 15px;
  margin-right: 83px;
  float: right;
  border: 2px solid #968d8d;
  border-radius: 10px;
  background-color: #ed4a4a;
}
.game-info-col-1 {
  padding-left: 25px;
}
.game-container {
  margin-top: 50px;
  padding-bottom: 21px;
  padding-left: 13px;
  border: 2px solid #696565;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.72);
}
.game-image-container {
	width: 500px;
	margin-left: 33px;
}
.game-image {
	/*display: block;
	margin: 0 auto;*/
	margin-left: 11px;
}
.game-description {
  margin: 12px 16px 21px 44px;
  padding-right: 34px;
  padding-bottom: 1px;
}
.game-info {
  margin-top: 47px;
  margin-right: 0px;
  margin-left: -140px;
  padding-right: 0px;
  float: none;
}
.game-info-col-2 {
  margin-top: 46px;
  padding-right: 29px;
}
.game-row-1 {
  padding-bottom: 0px;
}
.add-to-cart {
  /*
  width: 220px;
  height: 68px;
  */
  margin-top: 39px;
  margin-left: -142px;
  float: none;
  /*
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 82, 82, 0.78);
  font-family: Lato, sans-serif;
  font-size: 25px;
  */
}
.rating-text {
  font-family: Exo, sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.game-rating-text {
  width: 200px;
  float: left;
}
.text-rating {
  width: 91px;
  margin-left: 11px;
  float: left;
  color: #f03232;
  font-size: 28px;
  font-style: italic;
}
.genre-form-wrapper {
  margin-top: 17px;
  margin-right: 17px;
  margin-left: 32px;
}
.game-search {
  margin-top: 26px;
  margin-left: 15px;
  border-radius: 7px;
}
.game-search-image {
  width: 125px;
  height: 125px;
  float: left;
}
.game-search-description {
  width: 500px;
  float: left;
}
.game-search-title {
  width: 250px;
  height: 41px;
  float: none;
}
.checkout-container {
  margin-top: 36px;
  padding-bottom: 25px;
  padding-left: 11px;
  border: 2px solid #454545;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.70);
  font-family: Exo, sans-serif;
}
.rating {
  margin-top: 4px;
  margin-left: -2px;
}
.history-container {
  margin-top: 38px;
  border: 2px solid #4f4f4f;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.68);
}
.history-image {
  width: 150px;
  height: 150px;
  float: left;
}
.history-game-name {
  width: 400px;
  margin-top: 18px;
  margin-left: 185px;
}
.rating-form {
  margin-top: 16px;
}
.radio-star {
  width: 50px;
  height: 50px;
  margin-left: 204px;
  float: left;
}
.rating-form-wrapper {
  margin-top: 41px;
}
.rating-field {
  width: 250px;
  margin-left: 35px;
  float: left;
}
.order-info {
  width: 800px;
  margin-top: 36px;
  margin-bottom: 33px;
  margin-left: 18px;
  padding-right: 77px;
  font-family:'Droid Sans', sans-serif;
  font-size: 17px;
}
.history-link-text {
  margin-left: 19px;
  font-size: 19px;
}

.searchMargin
{
	margin-left: 15px;
}

.searchMargin a
{
	margin-right: 5px;
}

.searchMargin label
{
	/*color: #f26161;*/
}

.searchResults { width:500px; font-family:Georgia, Times, serif; font-size:15px; margin-left:-25px; }
.searchResults ul { list-style: none; }
.searchResults ul li { }
.searchResults ul li a { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
  border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }
.searchResults ul li a:hover { color:#FFFFFF; background-image:url(../images/hover.png); background-repeat:repeat-x; }

.transaction-history
{
	padding-bottom: 15px;
	margin-left: 15px;
}

.transaction
{
}

.transaction:after
{
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}

.transaction-details
{
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 10px;
}

.transaction-item
{
	float: left;
}

.transaction-item-image
{
	width: 110px;
	height: 150px;
}
